{{ "<!-- Footer Section Start -->" | safeHTML }}
<footer id="footer">
    <div class="container">
        <div class="row content-justify-between">
            <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                <p>
                    <span>
                        <script>document.write(new Date().getFullYear())</script>
                    </span> Construït amb codi lliure per Panxacontenta
                    <br> Gràcies a <a href="https://gohugo.io/" target="_blank">Hugo</a> i una remescla de la plantilla <a href="https://github.com/themefisher/timer-hugo" target="_blank">Timer</a> de <a href="http://www.Themefisher.com" target="_blank">Themefisher</a>.
                    <br>
                    <br>
                    Contacte: &#104;&#111;&#108;&#097;&#064;&#112;&#097;&#110;&#120;&#097;&#099;&#111;&#110;&#116;&#101;&#110;&#116;&#097;&#046;&#111;&#114;&#103;
                    <br>
                    <br>
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Llicència de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">panxacontenta.org</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.panxacontenta.org" property="cc:attributionName" rel="cc:attributionURL">Panxacontenta</a> està subjecta a una llicència de <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Reconeixement-CompartirIgual 4.0 Internacional de Creative Commons</a><br />Creat a partir d'una obra disponible a <a xmlns:dct="http://purl.org/dc/terms/" href="https://gitlab.com/panxacontenta/panxacontenta" rel="dct:source">https://gitlab.com/panxacontenta/panxacontenta</a>
                </p>
            </div>
            <div class="col-md-4 col-12">
                {{ "<!-- Social Media -->" | safeHTML }}
                <ul class="social text-center text-md-right text-lg-right">
                    <li>
                        <a href="https://gitlab.com/panxacontenta/panxacontenta">
                            <i class="ion-code"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{{ "<!-- footer section end -->" | safeHTML }}

{{ "<!-- jquery -->" | safeHTML }}
<script src="{{ "plugins/jQurey/jquery.min.js" | absURL }}"></script>
{{ "<!-- Form Validation -->" | safeHTML }}
<script src="{{ "plugins/form-validation/jquery.form.js" | absURL }}"></script>
<script src="{{ "plugins/form-validation/jquery.validate.min.js" | absURL }}"></script>
{{ "<!-- slick slider -->" | safeHTML }}
<script src="{{ "plugins/slick/slick.min.js" | absURL }}"></script>
{{ "<!-- bootstrap js -->" | safeHTML }}
<script src="{{ "plugins/bootstrap/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- wow js -->" | safeHTML }}
<script src="{{ "plugins/wow-js/wow.min.js" | absURL }}"></script>
{{ "<!-- slider js -->" | safeHTML }}
<script src="{{ "plugins/slider/slider.js" | absURL }}"></script>
{{ "<!-- Fancybox -->" | safeHTML }}
<script src="{{ "plugins/facncybox/jquery.fancybox.js" | absURL }}"></script>
{{ "<!-- template main js -->" | safeHTML }}
<script src="{{ "js/main.js" | absURL }}"></script>
</body>

</html>
